<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}" type="text/css" />
</head>
<body>
    <div class="hero">
        <center>
            <div class="row">
                <div class="col-md-4">

                    <h2>Crear una cuenta nueva</h2>


                    <div th:if=${param.exito}>
                        <div class="alert alert-info">Se ha registrado exitosamente a
                            la aplicación</div>
                    </div>

                    <form th:action="@{/trabajador/registrar}" th:object="${trabajador}" method="post">
                        
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
                        <div class="form-floating">
                            <input class="testimony__card3" aria-required="true" th:field="*{nombre}" placeholder="Nombres"/>
                        </div>
                        <br />
                        <div class="form-floating">
                            <input th:field="*{apellido}" class="testimony__card3" autocomplete="" aria-required="true" placeholder="Apellidos"/>
                        </div>
                        <br />
                        <div class="form-floating">
                            <input th:field="*{email}" class="testimony__card3" autocomplete="" aria-required="true" placeholder="Email: " />
                        </div>   
                        <br />
                        <br />
                        <div class="form-floating">
                            <input th:field="*{password}" class="testimony__card3" autocomplete="new-password" aria-required="true" placeholder="Contraseña"/>
                            <button id="verPassword" class="btn btn-default" type="button">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                            </button>
                        </div>
                        <br />
                        <br />

                        <div class="form-group form-row mt-2">
                            <label>Tipo de usuario: </label>
                            <div class="col-md-10 pt-1">
                                <div class="form-check form-check-inline"> 
                                    <input class="form-check-input" type="radio" th:field="*{tipo}" id="inlineRadio1" value="USUARIO" required> <label class="form-check-label" for="inlineRadio1">USUARIO</label> </div>
                                <div class="form-check form-check-inline"> 
                                    <input class="form-check-input" type="radio" th:field="*{tipo}"id="inlineRadio2" value="ADMIN" required> <label class="form-check-label" for="inlineRadio2">ADMIN</label> </div>
                            </div>
                        </div>

                        <button id="registerSubmit" type="submit" class="cta2">Crear Cuenta</button>
                    </form>
                    <a class="cta2" a th:href="@{/}">Regresar</a>
                </div>
            </div>
        </center>
    </div>
</body>
</html>