<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aytana Manicure</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}" type="text/css" />

</head>

<body>

    <div class="hero4">
        <nav class="nav__hero">
            <div class="container nav__container">
                <div class="logo">
                    <h2 class="logo__name">Aytana Studio Nails<span class="point">.</span></h2>
                </div>
                <div class="links">
                    <partial name="_LoginPartial" />
                    <a sec:authorize="!isAuthenticated()" class="link" href="#">Inicio</a>
                    <a sec:authorize="!isAuthenticated()" href="#" text="NUESTROS PRINCIPALES SERVICIOS" class="link link--active">Servicios</a>
                    <a sec:authorize="!isAuthenticated()" href="#" class="link">Proyectos</a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{trabajador/login}" class="link link--active">Iniciar Sesión</a>
                    <a sec:authorize="isAuthenticated()" href="#" class="link link--active">Bienvenido [[${#httpServletRequest.remoteUser}]]!</a>
                    <a sec:authorize="isAuthenticated()" class="link" a th:href="@{trabajador/registro}">Crear Trabajador</a>
                    <a sec:authorize="!isAuthenticated()" href="#" class="link link--active">Contacto</a>
                    <a sec:authorize="isAuthenticated()" class="link link--active" th:href="@{cita/listaCitas}">Ver citas disponibles</a>
                    <a sec:authorize="isAuthenticated()" class="link" th:href="@{trabajador/logout}">Cerrar sesión</a>
                </div>
            </div>
        </nav>
    </div>

    <header class="hero">
        <section class="container hero__main">

            <div class="hero__textos">
                <h1 class=title2>Con Nosotros Tendras la Mejor Experiencia.</h1>
                <p class="copy">Nos encargamos de llevar tus ideas al
                    <span class="copy__active">siguiente nivel</span>
                </p>

                <a class="cta2" th:href="@{cita/registrarUsuario}">Agenda una cita</a>
            </div>
            <img th:src="@{/image/logo5.png}" alt="No encontrada" class="mockup">
        </section>
    </header>
    <main>
        <!-- Primera Seccion -->
        <section class="services">
            <div class="container">
                <div class="subtitle">
                    <h2 style="color:#44274B">NUESTROS PRINCIPALES SERVICIOS<span class="point"></span></h2>
                </div>
                <p class="copy__section">Ofrecemos las soluciones perfectas para ti</p>

                <article class="container-cards">
                    <div class="card">
                        <img th:src="@{/image/salon.jpg}" class="card__img2">
                        <div class="card__text">
                            <p style="color:#44274B">Especialistas en diseño</p>
                            <div class="card__title">
                                <h3 style="color:#5B066C">Beneficios</h3>
                            </div>
                            <p class="card__copy">
                                En AYTANA MANICURE ofrecemos diversos beneficios que ayudan en la estética y salud de
                                las personas.
                                Podemos realizar diversos servicios que previenen malformaciones, limpian impurezas y
                                otros más que
                                ayudan a la belleza de todos nuestros clientes.
                            </p>
                            <a href="#" class="card__button">Ver mas</a>

                        </div>
                    </div>

                    <div class="card">
                        <img th:src="@{/image/descuentos.jpg}" class="card__img">
                        <div class="card__text">
                            <p style="color:#44274B">Especialistas en diseño</p>
                            <div class="card__title">
                                <h3 style="color:#5B066C">Descuentos</h3>
                            </div>
                            <p class="card__copy">
                                Ofrecemos descuentos por temporada con diferentes condiciones que nos permiten tener una
                                mayor
                                interacción con nuestros clientes.
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque
                                blanditiis iure adipisci temporibus veritatis asdasdasdasdcorporis ratione
                            </p>
                            <a href="#" class="card__button">Comienza un proyecto</a>

                        </div>
                    </div>

                    <div class="card">
                        <img th:src="@{/image/salonclasev2.jpg}" class="card__img">
                        <div class="card__text">
                            <p style="color:#44274B">Especialistas en diseño</p>
                            <div class="card__title">
                                <h3 style="color:#5B066C">Clases</h3>
                            </div>
                            <p class="card__copy">
                                En nuestra área de trabajo contamos con un área de aprendizaje para cualquier persona
                                que desee
                                aprender acerca del cuidado y limpieza de las uñas.
                                Cumque
                                blanditiis iure adipisci temporibus asd asd asd asd
                                asdasdasdasdasdasdasdveritatis corporis asd asd
                            </p>
                            <a href="#" class="card__button">Comienza un proyecto</a>
                        </div>
                    </div>
                    <div class="card">
                        <img th:src="@{/image/unascolores.jpg}" class="card__img">
                        <div class="card__text">
                            <p style="color:#44274B">Especialistas en diseño</p>
                            <div class="card__title">
                                <h3 style="color:#5B066C">Ofertas de Trabajo</h3>
                            </div>
                            <p class="card__copy">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque
                                blanditiis iure adipisci temporibus veritatis corporis ratione aspernatur vel nisi,
                                debitis quia aut qui voluptatibus aperiam ad maxime, ex eos corrupti?</p>
                            <a href="#" class="card__button">Comienza un proyecto</a>

                        </div>
                    </div>

                </article>
            </div>
        </section>
        <!-- Segunda sección -->
        <section class="projects container">
            <h2 class="subtitle">OTROS SERVICIOS<span class="point">.</span></h2>
            <p class="copy__section"> /Colocar algo/ </p>
            <article class="container_bg">
                <div class="card">
                    <div class="card__text">
                        <h3 class="card__title2">Pedicure y Manicure<spam class="point">.</spam>
                        </h3>
                        <p class="card__date">19 de mayo 2022</p>
                        <p class="card__copy">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque
                            blanditiis iure adipisci temporibus veritatis corporis ratione aspernatur vel nisi, debitis
                            quia aut qui voluptatibus aperiam ad maxime, ex eos corrupti?</p>
                        <a href="#" class="card__button">Comienza un proyecto</a>
                    </div>
                </div>

                <div class="background">
                    <img src="../image/punas.jpg" class="background__img">
                    <div class="background__text">
                        <h3 class="background__title">La educación en linea</h3>
                        <p class="background__copy">La realidad aumentada transformara por completo</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card__text">
                        <h3 class="card__title2">Uñas de Gel<spam class="point">.</spam>
                        </h3>
                        <p class="card__date">17 de mayo 2022</p>
                        <p class="card__copy">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque
                            blanditiis iure adipisci temporibus veritatis corporis ratione aspernatur vel nisi, debitis
                            quia aut qui voluptatibus aperiam ad maxime, ex eos corrupti?</p>
                        <a href="#" class="card__button">Comienza un proyecto</a>
                    </div>
                </div>

                <div class="background">
                    <img src="../image/gel.png" class="background__img">
                    <div class="background__text">
                        <h3 class="background__title">La educación en linea</h3>
                        <p class="background__copy">La realidad aumentada transformara por completo</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card__text">
                        <h3 class="card__title2">Uñas Acrílicas<spam class="point">.</spam>
                        </h3>
                        <p class="card__date">17 de mayo 2022</p>
                        <p class="card__copy">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque
                            blanditiis iure adipisci temporibus veritatis corporis ratione aspernatur vel nisi, debitis
                            quia aut qui voluptatibus aperiam ad maxime, ex eos corrupti?</p>
                        <a href="#" class="card__button">Comienza un proyecto</a>
                    </div>
                </div>

                <div class="background">
                    <img src="../image/acrilicas.jpg" class="background__img">
                    <div class="background__text">
                        <h3 class="background__title">La educación en linea</h3>
                        <p class="background__copy">La realidad aumentada transformara por completo</p>
                    </div>
                </div>
            </article>
        </section>
        <section class="testimony">
            <div class="container">
                <h2 class="subtitle">Clientes Satisfechos<span class="point">.</span></h2>
                <p class="copy__section">/Insertar Texto/</p>
                <div class="testimony-container">
                    <div class="testimony__card4">
                        <div class="testimony__text">
                            <img src="../image/unasnegras.png" class="google__logo">
                            <p class="testimony__history">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Alias, facere.</p>
                            <div class="testimony__copy testimony__copy--modifier">
                                <img src="../image/unasnegras.png" class="testimony__logo logo--picture">
                                <div class="testimony__info">
                                    <h3 class="testimony__name">/Insertar nombre/</h3>
                                    <p class="testimony__position">/Insertar nombre/</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="testimony__card4">
                        <div class="testimony__text">
                            <img src="../image/unasnegras.png" class="google__logo">
                            <p class="testimony__history">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Alias, facere.</p>
                            <div class="testimony__copy testimony__copy--modifier">
                                <img src="../image/unasnegras.png" class="testimony__logo logo--picture">
                                <div class="testimony__info">
                                    <h3 class="testimony__name">/Insertar nombre/</h3>
                                    <p class="testimony__position">/Insertar nombre/</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="testimony__card4">
                        <div class="testimony__text">
                            <img src="../image/unasnegras.png" class="google__logo">
                            <p class="testimony__history">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Alias, facere.</p>
                            <div class="testimony__copy testimony__copy--modifier">
                                <img src="../image/unasnegras.png" class="testimony__logo logo--picture">
                                <div class="testimony__info">
                                    <h3 class="testimony__name">/Insertar nombre/</h3>
                                    <p class="testimony__position">/Insertar nombre/</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="email container container--modifier">
            <h2 class="subtitle subtitle--modifier">Somos los mejores en Cajamarca<span class="point">.</span></h2>

            <p class="copy__section copy__section--modifier">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Optio, cum sint. Id delectus, praesentium iure consequuntur eligendi dolorem amet non.</p>

            <div class="check">
                <div class="check__item">
                    <i class='bx bx-check'></i>
                    <div class="check__numbers">
                        <p class="check__number">+200</p>
                        <p class="check__copy">+Proyextos exitosos</p>
                    </div>
                </div>

                <div class="check__item">
                    <i class='bx bx-check'></i>
                    <div class="check__numbers">
                        <p class="check__number">+200</p>
                        <p class="check__copy">+Proyextos exitosos</p>
                    </div>
                </div>

                <div class="check__item">
                    <i class='bx bx-check'></i>
                    <div class="check__numbers">
                        <p class="check__number">+200</p>
                        <p class="check__copy">+Proyextos exitosos</p>
                    </div>
                </div>
            </div>

            <form class="newsletter">
                <input type="text" class="newsletter__input" placeholder="Ingresa tu email">
                <input type="submit" class="newsletter__submit" value="Comienza hoy">
            </form>

        </section>
    </main>

    <footer class="footer">
        <div class="container footer__caption">
            <section class="download">
                <h3 class="title__footer">Siguenos en nuestras redes principales</h3>
                <div class="download__app">
                    <div class="download__item">
                        <i class='bx bxl-facebook-circle donwload__logo'></i>
                        <h4 class="download__title">Facebook</h4>
                    </div>
                    <div class="download__item">
                        <i class='bx bxl-instagram-alt donwload__logo'></i>
                        <h4 class="download__title">Instagram</h4>
                    </div>
                </div>

                <div class="footer_copy">
                    <p class="copyright">BMRC &copy; 2022 Todos los derechos reservados</p>
                    <a href="#" class="politica__privacidad politica__privacidad--margin">Politica de privacidad</a>
                    <a href="#" class="politica__privacidad ">Terminos y condiciones</a>
                </div>
            </section>

            <section class="get-email">

                <h3 class="title__footer">¿Quieres trabajar con nosotros?</h3>
                <form class="newsletter newsletter--modifier">
                    <input type="text" class="newsletter__input" placeholder="Ingresa tu email">
                    <input type="submit" class="newsletter__submit" value="Contactanos">
                </form>

                <div class="socialmedia">
                    <p class="socialmedia_legend">Siguenos tambien en:</p>
                    <i class='socialmedia_icon bx bxl-linkedin'></i>
                    <i class='socialmedia_icon bx bxl-twitter'></i>
                </div>
            </section>
        </div>
    </footer>
</body>

</html>